{% extends 'tunzapp/base.html' %}

{% block content %}


<div class="container-fluid " style="background-color: black;height: 90vh;">

<nav class="navbar navbar-expand-lg  "style='color:white; margin-top:10px'>
    <a class="navbar-brand " href="#" style="position: relative; left:10% ; color: #F7E714; font-weight: 700; font-size: 28px;">Tunza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex  justify-content-around " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" style=" color: #F7E714;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" style="color:white ;">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Contact</a>
        </li>
        
      </ul>
      <ul class="navbar-nav auth " >
        <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        <li class="nav-item mx-2">
            <a class="nav-link  mx-3" href="#" >Login</a>
          </li>
         

      </ul>
    </div>
  </nav>


<!-- HERO  SECTION -->

  <section id="hero">
    <div class="left">
        <p class="top"> 
            LET'S GIVE OUR <br> <span style="color: #F7E714;">CHILDREN</span>,<br>THEIR  <span  style="color: #F7E714;">DREAMS</span>   <br>BACK
        </p>
        <p class="">JOIN US NOW</p>
    </div>
    <div class="right">
        <img src="../../static/images/16109238289_b8e49285ab_h.jpg" alt="" class='secondImage'>

        <img src="../../static/images/8203372110_7df8d7f165_b.jpg" alt="" class="firstImage">
    </div>
</section>
</div>

<!-- how it works -->

<section class="container-fluid works">
    <h3>How This All Works</h3>
    <div class="workcards">
    <div class="card" style="width: 20rem; height: 18rem; background-color: black;">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center ; color: #F7E714;">STEP 1</h5>
          <p class="card-text" style="color: white;">Is to identify the child who is need of financial support. Analyze the specific needs of that particular child as different children have different needs eg. money for upkeep,clothes,shoes,books</p>
          
        </div>
      </div>
      <div class="card" style="width: 20rem; height: 18rem; background-color: black;">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center ; color: #F7E714;">STEP 2</h5>
          <p class="card-text" style="color: white;">We then do a background check of the child to eliminate imposters who dont require financial support. We do this by visiting the childs home, meeting and interviewing the parents,check on the financial status of the family as a whole.</p>
          
        </div>
      </div>
      <div class="card" style="width: 20rem; height: 18rem; background-color: black;">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center ; color: #F7E714;">STEP 2</h5>
          <p class="card-text" style="color: white;">After verification we then proceed to register the child in the system ,so that the donors  can view them in the website and contribute towards their needs.</p>
          
        </div>
      </div>
      
      
    </div>

</section>

<!-- support -->

<section class="container-fluid support">
    <h3>Support Our Children</h3>
    <div class="supportcard">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../static/images/download.jpeg" alt="Card image cap">
            <div class="card-body" style="background-color: black;">
                <p class="details">Name: <span>Agnes Agnes</span> </p>
                <p class="details">Age: <span>10</span> </p>
                <p class="details">Gender: <span>Female</span> </p>
                <p class="details">Location: <span>Kibera,Nairobi</span> </p>
              <a href="#" class="btn " style="margin:10px 30px; background-color: #F7E714; font-size: 13px; font-weight: 600; width: 150px;">VIEW DETAILS</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../static/images/download.jpeg" alt="Card image cap">
            <div class="card-body" style="background-color: black;">
                <p class="details">Name: <span>Agnes Agnes</span> </p>
                <p class="details">Age: <span>10</span> </p>
                <p class="details">Gender: <span>Female</span> </p>
                <p class="details">Location: <span>Kibera,Nairobi</span> </p>
              <a href="#" class="btn " style="margin:10px 30px; background-color: #F7E714; font-size: 13px; font-weight: 600;width: 150px;">VIEW DETAILS</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../static/images/download.jpeg" alt="Card image cap">
            <div class="card-body" style="background-color: black;">
                <p class="details">Name: <span>Agnes Agnes</span> </p>
                <p class="details">Age: <span>10</span> </p>
                <p class="details">Gender: <span>Female</span> </p>
                <p class="details">Location: <span>Kibera,Nairobi</span> </p>
              <a href="#" class="btn " style="margin:10px 30px; background-color: #F7E714; font-size: 13px; font-weight: 600;width: 150px;">VIEW DETAILS</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../static/images/download.jpeg" alt="Card image cap">
            <div class="card-body" style="background-color: black;">
                <p class="details">Name: <span>Agnes Agnes</span> </p>
                <p class="details">Age: <span>10</span> </p>
                <p class="details">Gender: <span>Female</span> </p>
                <p class="details">Location: <span>Kibera,Nairobi</span> </p>
              <a href="#" class="btn " style="margin:10px 30px; background-color: #F7E714; font-size: 13px; font-weight: 600;width: 150px;">VIEW DETAILS</a>
            </div>
          </div>
        
          
          
    </div>
    <a href="#" class="btn view" style=" background-color: BLACK; font-size: 13px; font-weight: 600;color: #F7E714; padding: 10px 15px; border-radius: 10px;">VIEW ALL CHILDREN</a>


</section>

 

<!-- footer -->
<section class="" style="margin-top: 80px;">
        <div class="row" style="height:30vh ;">
          <div class="col-6" style="height: 100%;margin: 0 !important;">
            <img src="../../static/images/Screen-Shot-2017-06-13-at-10.02.48-1-e1524631649260.png" alt="" style="height: 100%; width: 100%;object-fit: cover; margin: 0 !important;">
          </div>
          <div class="col-6" style="background-color: black;">
            <div class="single">
                <h2>Subscribe to our Newsletter</h2>
            <div class="input-group">
                 <input type="email" class="form-control" placeholder="Enter your email" style=" width: 200px;">
                 <span class="input-group-btn">
                 <button class="btn btn-theme" type="submit">Subscribe</button>
                 </span>
                  </div>
            </div>
          </div>
        </div>



</section>

<footer>

    <!-- Copyright -->
        <div style="display: flex;">
            <p>Tearms & Condition</p>
            <p style="margin:0 10px">Privacy Policy</p>
            <p>About</p>
        </div>

        <p style="color: #F7E714">Copyright2022Tunza.All Rights Reserved</p>
       
  
  </footer>




{% endblock %}